# Tokenlon Exchange Subgraph：https://thegraph.com/explorer/subgraphs/SHnGLtUhEcxGk9xiLxbHHTRBrLJ44utGv2BVi3yc42S?view=Overview&chain=mainnet
# 請將下方的 [api-key] 用您的 The Graph API Key 取代
GRAPH_URL = "https://gateway.thegraph.com/api/[api-key]/subgraphs/id/SHnGLtUhEcxGk9xiLxbHHTRBrLJ44utGv2BVi3yc42S"
# 請將下方的 URL 改為您的 Ethereum 節點 URL
ETHEREUM_NODE_URL = "https://eth-mainnet.alchemyapi.io/v2/YOUR_ETHEREUM_NODE_URL_KEY"